@page "/Account/ForgotPassword";
@inherits ForgotPasswordComponent;

<div class="text-center form-holder w-50">
    @if (hasEmailBeenSent)
    {
        <MatH3 Class="text-center">Check the inbox of @emailInputModel.Email!</MatH3>
        <MatButton type="submit" Class="w-100" Link="/login" Outlined="true">
            To Login
        </MatButton>
    }
    else
    {
        <MatH4>Forgot your password? No worries, enter your email below and we'll send a link for resetting your password.</MatH4>
        <EditForm Model="@emailInputModel" OnValidSubmit="@HandleForgotPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mt-3">
                <MatTextField Class="w-100"
                              Required="true"
                              Label="Enter your email here..."
                              Outlined="true"
                              @bind-Value="emailInputModel.Email">
                </MatTextField>
            </div>
            <div class="text-center">
                <MatButton type="submit" Class="w-100" Outlined="true">Send Reset Password Link</MatButton>
            </div>
        </EditForm>
    }
</div>
