@page "/Account/ForgotPassword";
@inherits ForgotPasswordComponent;
@inject NavigationManager UriHelper;

<div class="text-center form-holder w-50">
    @if (hasEmailBeenSent)
    {
        <h3 class="text-center">Check the inbox of @emailInputModel.Email!</h3>
        <button type="submit" class="btn btn-outline-success mt-2 w-100" @onclick="@((e) => UriHelper.NavigateTo("login"))">
            To Login
        </button>
    }
    else
    {
        <h3>Forgot your password? No worries, enter your email below and we'll send a link for resetting your password.</h3>
        <EditForm Model="@emailInputModel" OnValidSubmit="@HandleForgotPassword">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group mt-3">
                <InputText id="email" placeholder="Enter your email here..." class="form-control" @bind-Value="emailInputModel.Email"></InputText>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-success mt-2 w-100">Send Reset Password Link</button>
            </div>
        </EditForm>
    }
</div>
