@page "/profile/{TabIndex:int}";
@inherits ProfileComponent;
@attribute [Authorize]

<MatTabGroup @bind-ActiveIndex="tabIndex">
    <MatTab Label="Profile Information">
        <ChildContent>
            <ProfileInfo></ProfileInfo>
        </ChildContent>
    </MatTab>
    <MatTab Label="My Statistics">
        <ChildContent>
            <p>My Stats</p>
        </ChildContent>
    </MatTab>
</MatTabGroup>
