@page "/Account/ResendEmail";
@inherits ResendEmailComponent;

<div class="text-center form-holder w-50">
    @if (hasEmailBeenSent)
    {
        <MatH3 Class="text-center">Check the inbox of @emailInputModel.Email!</MatH3>
        <MatButton type="submit" Class="w-100" Link="/login" Outlined="true">
            To Login
        </MatButton>
    }
    else
    {
        <MatH5>Your account is not confirmed and you did not receive any email? No worries, enter your email below and we'll send another one.</MatH5>
        <EditForm Model="@emailInputModel" OnValidSubmit="@HandleResendEmail">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <MatTextField Class="w-100"
                              Required="true"
                              Label="Enter your email here..."
                              Outlined="true"
                              @bind-Value="emailInputModel.Email">
                </MatTextField>
            </div>
            <div class="text-center">
                <MatButton type="submit" Class="w-100" Outlined="true">Send Email</MatButton>
            </div>
        </EditForm>
    }
</div>
