@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="z-index: 9999;">
        <ul class="nav navbar">
            <li class="nav-item px-3">
                <NavLink class="ml-md-auto" href="login">
                    Login
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="ml-md-auto" href="register">
                    Register
                </NavLink>
            </li>
        </ul>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
