@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="z-index: 9999;">
        <AuthorizeView>
            <Authorized>
                <p>Logged in as @context.User.Identity.Name</p>
            </Authorized>
            <NotAuthorized>
                <ul class="nav navbar">
                    <li class="nav-item px-3">
                        <NavLink class="ml-md-auto" href="login">
                            Login
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="ml-md-auto" href="register">
                            Register
                        </NavLink>
                    </li>
                </ul>
            </NotAuthorized>
        </AuthorizeView>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
