@inherits LayoutComponentBase
@inject TokenAuthenticationStateProvider authStateProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4" style="z-index: 9999;">
        <ul class="nav navbar">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item px-3">
                        Logged in as @context.User.Identity.Name
                    </li>
                    <li class="nav-item px-3">
                        <button 
                                class="btn btn-sm btn-outline-dark"
                                @onclick="@(() => authStateProvider.SetTokenAsync(null))">
                            Logout
                        </button>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item px-3">
                        <NavLink class="ml-md-auto" href="login">
                            Login
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="ml-md-auto" href="register">
                            Register
                        </NavLink>
                    </li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
